<h3 class="titulo">Configuración</h3>
<div class="container-fuid cajita" style='width: 100%'>
    <div class="row">
        <div class="col-md-8">
            <mat-form-field style="width: 100%">
                <input matInput placeholder="Titulo" [(ngModel)]='configuracion.titulo' name='titulo'>
            </mat-form-field>
        </div>
        <div class="col-md-4">
            <mat-form-field style="width: 100%">
                <input matInput placeholder="Tiempo por Pregunta" [(ngModel)]='configuracion.tiempoPregunta' name='tiempoPregunta'>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <mat-form-field style="width: 100%">
                <textarea matInput placeholder="Mensaje de Bienvenida" [(ngModel)]='configuracion.mensajeBienvenida
                ' name="mensajeBienvenida"></textarea>
            </mat-form-field>
        </div>
        <div class="col-md-1">
            <label for="pickColor">Color de Fondo</label>
            <input id='pickColor' [(colorPicker)]="configuracion.fondoJuego" [style.background]="configuracion.fondoJuego"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="singleFile">Imagen de Presentacion</label>
            <input type="file" [(ngModel)]='configuracion.imagenPresentacion' (change)="onUpload($event)" name='imagen' accept=".PNG, .JPEG, .JPG" />
            <img *ngIf='configuracion.imagenPresentacion' [src]="imagenUrl" class='img-fluid' alt="">
        </div>
    </div>
    <button mat-raised-button color="primary" (click)='guardarConfiguracion()'>Guardar</button>
</div>
