<h3 class="titulo">Nuevo Juego</h3>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="container-fluid cajita">

            </div>
        </div>
    </div>
    <br>
    <div class="row" *ngIf="mostrarCajas">
            <div class="col-md-6">
                <div class="container-fluid cajita">
                    
                </div>
            </div>
            <div class="col-md-6">
                    <div class="container-fluid cajita">
                        
                    </div>
                </div>
        </div>
</div>
