<div class="game">
    <div class='blue'>
        <h1 class='titulo'>QUIZZES</h1>
    </div>
    <div class="container">
        <div class="card">
            <img src="../../assets/podium.svg" alt="">
            <button class="btn">JUGAR!</button>
        </div>
        <div class="card">
            <img src="../../assets/presentation.svg" alt="">
            <button class="btn">CREAR</button>
        </div>
    </div>
    <button class="btn" (click)="alertar()">ALERTAR</button>
    <div class="container-2">
        <h2>Jugadores esperando {{jugadores.length}}</h2>
        <div class="jugadores">
            <ul>
                <li *ngFor="let jugador of jugadores" style="margin: 20px 0px;">
                    <span class="jugador">{{jugador}}</span>
                </li>
            </ul>
        </div>
    </div>
</div>