<h3 class="titulo">JUEGOS</h3>
<div class="container-fluid cajita">
    <mat-form-field appearance="outline">
        <mat-label>Buscar Juego</mat-label>
        <input matInput (keyup)="aplicarFiltro($event.target.value)" placeholder="Buscar Juego">
    </mat-form-field>
    <button mat-raised-button color="primary" style="float: right" (click)='abrirModal()'><b>+</b>&nbsp;Nuevo Juego</button>
    <table mat-table [dataSource]='dataSource'>

        <ng-container matColumnDef="jugar" class="mat-elevation-z8">
            <th mat-header-cell *matHeaderCellDef>Jugar </th>
            <td mat-cell *matCellDef="let juego">
                <button class="btn btn-play" (click)='iniciarJuego(juego)'><mat-icon svgIcon="play"></mat-icon></button>
            </td>
        </ng-container>

        <ng-container matColumnDef="descripcion" class="mat-elevation-z8">
            <th mat-header-cell *matHeaderCellDef> Nombre </th>
            <td mat-cell *matCellDef="let juego"> {{juego.descripcion}} </td>
        </ng-container>

        <ng-container matColumnDef="cantPreguntas" class="mat-elevation-z8">
            <th mat-header-cell *matHeaderCellDef> Cant. Preguntas </th>
            <td mat-cell *matCellDef="let juego"> {{juego.cantPreguntas}} </td>
        </ng-container>
        
        <ng-container matColumnDef="acciones" class="mat-elevation-z8">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let juego">
                <mat-icon svgIcon="grease-pencil" [routerLink]="['./' , juego.idJuego]"></mat-icon>
                <mat-icon svgIcon="delete" (click)='eliminarSerie(juego)'></mat-icon>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>