<div class="content" [ngStyle]="{'background': configuracion.fondoJuego, 'height':'100%'}" *ngIf='!expulsado'>
    <div *ngIf="alerta">
        <span>EL JUEGO COMENZARA PRONTO</span>
    </div>
    <ng-container
        *ngIf="entroASala; then estaDentro; else estaEsperando">
    </ng-container>

    <ng-template #estaEsperando>
        <div class="container-fluid h-100">
            <div class="row" style="margin-top: 10px;">
                <div class="col-sm-12">
                    <div class="contenedor">
                        <h2 class="welcome text-center">{{configuracion.titulo}}</h2>
                        <form [formGroup]="jugadorForm" (ngSubmit)="entrarSala(jugadorForm.value)">
                                <div>
                                    <input class="input" id="name" type="text" formControlName="nombre" placeholder="Nombre del Equipo">
                                </div>
                            <button class="entrar" type="submit">Listo</button>
                        </form>
                    </div>
                </div>
            </div>
            <br>
            <div class="row h-50" style="display: flex; align-items: center;justify-content: center;">
                <div class="col-sm-12 text-center" >
                    <img [src]="configuracion.imagenPresentacion" alt="" class="img-responsive" style="max-width: 100%;height: auto;width: auto;">
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template #estaDentro>
        <ng-container
            *ngIf="inicio; then inicioJuego; else pendienteJuego">
        </ng-container>

        <ng-template #inicioJuego>
            <ng-container
                *ngIf="!termino; then preguntasPendientes; else terminoJuego">
            </ng-container>

            <ng-template #preguntasPendientes>
                <ng-container
                    *ngIf="ctaRegre>0; then cuentaRegresiva; else arrancaJuego">
                </ng-container>
                <ng-template #cuentaRegresiva>
                        <div class="container-fluid h-100 text-center" [ngStyle]="{'background':configuracion.fondoJuego,'padding-top':'50px'}">
                            <span [ngStyle]="{'color':configuracion.colorLetraPregunta,'font-size':'150px'}">{{ctaRegre}}</span>
                        </div>
                </ng-template>
                <ng-template #arrancaJuego>

		        <div class="container-fluid h-100">
		            <div class="container mostrador">
		                <div class="row">
		                    <div class="col" style="text-align: center;color: #FFFFFF">
		                        <mat-icon svgIcon="buffer"></mat-icon>&nbsp;{{idPreguntaActual+1}}/{{preguntasTotales}}
		                    </div>
		                    <div class="col" style="text-align: center;color: #FFFFFF">
		                        <mat-icon svgIcon="clock"></mat-icon>&nbsp;{{tiempoTranscurrido}}
		                    </div>
		                    <div class="col" style="text-align: center;color: #FFFFFF">
		                        {{puntaje}}&nbsp;<mat-icon svgIcon="star" style="color: yellow"></mat-icon>
		                    </div>
		                </div>
		            </div>
		            <div class="container d-flex flex-column" style="background:transparent;align-items: center;justify-content: center;text-align:center;margin-top:30px;">
		                <p [ngStyle]="{'color': configuracion.colorLetraPregunta, 'font-size':'5vw'}">{{preguntaActual.pregunta}}</p>
		                <img *ngIf='preguntaActual.url != null' class="img-responsive" style="width:100%;" [src]="preguntaActual.url" alt="">
		            </div>
		            <div class="container-fluid h-50 d-flex flex-column" style="padding-bottom: 10px;">
		                <ng-container
		                    *ngIf="!preguntaRespondida; then antesDeResponder; else despuesDeResponder">
		                </ng-container>
		                <ng-template #antesDeResponder>
		                    <div class="row" style="height: 100%;">
		                        <div class="col-sm-12 col-md-12 respuesta"
		                          *ngFor="let respuesta of respuestas | async; let i = index" (click)="responderPregunta(respuesta.correcta, respuesta.idRespuesta)">
		                                  <p>{{respuesta.respuesta}}</p>
		                        </div>
		                    </div>
		                </ng-template>
		                <ng-template #despuesDeResponder>
		                    <div class="row" style="height: 100%;">
		                        <div class="col-sm-12 col-md-12 respuesta" *ngFor="let respuesta of respuestas | async; let i = index">
		                            <p *ngIf="respuesta.correcta"   style="background-color: #28a745;height: 100%;border: none!important;" [ngStyle]="respuesta.idRespuesta == respuestaElegida && {'border': '2px solid #CCCCCC'}">Respuesta correcta</p>
		                            <p *ngIf="!respuesta.correcta"  style="background-color: #d63131;height: 100%;border: none!important;" [ngStyle]="respuesta.idRespuesta == respuestaElegida && {'border': '2px solid #CCCCCC'}">Respuesta incorrecta</p>
		                        </div>
		                    </div>
		                </ng-template>
		            </div>
		        </div>
		</ng-template>
            </ng-template>
            <ng-template #terminoJuego>
                <ng-container
                    *ngIf="terminoTodo; then mostrarPosicion;else mostrarPuntaje">
                </ng-container>
                <ng-template #mostrarPuntaje>
                    <div class="container-fluid h-100" style="display: flex;text-align: center;justify-content: center;flex-direction: column;">
                        <div class="container-fluid h-50" style="color: #FFFFFF">
                            <br>
                            <h1>{{nombreJugador}}</h1>
                            <br>
                            <h1 style="font-size: 5rem">{{puntaje}}&nbsp;
                            <mat-icon svgIcon="star" style="color: yellow;height: 15vh;width: 15vw;"></mat-icon></h1>
                            <br>
                            <div class="esperando">
                                ESPERANDO RESULTADOS FINALES
                            </div>
                        </div>
                        <div class="container-fluid h-50">
                            <img [src]="configuracion.imagenPresentacion" class="img-responsive" style="width:100%;">
                        </div>
                    </div>
                </ng-template>
                <ng-template #mostrarPosicion>
                    <div class="container-fluid h-100">
                        <div class="container-fluid h-75" style="display: flex;align-items: center;justify-content: center;color: #FFFFFF">
                            <h1 style="font-size: 8rem">#{{posicion}}</h1>
                        </div>
                        <div class="container-fluid h-25" style="display: flex;align-items: center;justify-content: center;flex-direction: column; color: #FFFFFF">
                            <h1>{{nombreJugador}}</h1>
                            <br>
                            <h1>{{puntaje}}&nbsp;
                            <mat-icon svgIcon="star" style="color: yellow;"></mat-icon></h1>
                        </div>
                    </div>
                </ng-template>
            </ng-template>
        </ng-template>

        <ng-template #pendienteJuego>
            <div class="container-fluid h-100">
                <div class="row text-center" style="margin-top: 10px;">
                    <div class="col-sm-12">
                        <div class="contenedor">
                            <h1 class="welcome">Hola, {{nombreJugador}}</h1>
                            <p>{{configuracion.mensajeBienvenida}}</p>
                            <p>Esperando inicio del Juego...</p>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row h-50" style="display: flex; align-items: center;justify-content: center;">
                    <div class="col-sm-12" style='display: flex; align-items: center; justify-content: center;'>
                        <img [src]="configuracion.imagenPresentacion" class="img-responsive" style="width:100%;">
                    </div>
                </div>
            </div>
        </ng-template>
    </ng-template>

</div>
<div class="container" *ngIf='expulsado'>
    FUISTE EXPULSADO DE LA SALA
</div>
