<div class="container content" [ngStyle]="{'background': configuracion.fondoJuego, 'height':'100%'}" *ngIf='!expulsado'>
    <div *ngIf="alerta">
        <span>EL JUEGO COMENZARA PRONTO</span>
    </div>
    <ng-container
        *ngIf="entroASala; then estaDentro; else estaEsperando">
    </ng-container>

    <ng-template #estaEsperando>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 text-center" >
                    <img [src]="configuracion.imagenPresentacion" alt="" class="img-responsive" style="width:80%;">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12">
                    <div class="container">
                        <h2 class="welcome text-center">{{configuracion.titulo}}</h2>
                        <form [formGroup]="jugadorForm" (ngSubmit)="entrarSala(jugadorForm.value)">
                                <div>
                                    <input class="input" id="name" type="text" formControlName="nombre" placeholder="Nombre del Equipo">
                                </div>
                            <button class="entrar" type="submit">Listo</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template #estaDentro>
        <ng-container
            *ngIf="inicio; then inicioJuego; else pendienteJuego">
        </ng-container>

        <ng-template #inicioJuego>
            <ng-container
                *ngIf="!termino; then preguntasPendientes; else terminoJuego">
            </ng-container>

            <ng-template #preguntasPendientes>
                <ng-container
                    *ngIf="ctaRegre>0; then cuentaRegresiva; else arrancaJuego">
                </ng-container>
                <ng-template #cuentaRegresiva>
                        <div class="container-fluid h-100 text-center" [ngStyle]="{'background':configuracion.fondoJuego,'padding-top':'50px'}">
                            <span [ngStyle]="{'color':configuracion.colorLetraPregunta,'font-size':'150px'}">{{ctaRegre}}</span>
                        </div>
                </ng-template>
                <ng-template #arrancaJuego>
                        <div class="container-fluid h-100">
                            <div class="container d-flex flex-column" style="background:transparent; center; align-items: center;position: relative;border-radius: 10px; margin-top:30px;">
                                <img *ngIf='preguntaActual.url != null' style="width:80%;" [src]="preguntaActual.url" alt="">
                                <p [ngStyle]="{'color': configuracion.colorLetraPregunta, 'font-size':'25px'}">{{preguntaActual.pregunta}}</p>
                            </div>
                            <div class="container-fluid h-50 d-flex flex-column" style="padding-bottom: 10px;">
                                <ng-container
                                    *ngIf="!preguntaRespondida; then antesDeResponder; else despuesDeResponder">
                                </ng-container>
                                <ng-template #antesDeResponder>
                                    <div class="row" style="height: 100%;">
                                        <div class="col-sm-12 col-md-12 respuesta"
                                            *ngFor="let respuesta of respuestas | async; let i = index"
                                                [ngStyle]="{'background-color': colores[i]}"
                                                (click)="responderPregunta(respuesta.correcta)">
                                                    <p>{{respuesta.respuesta}}</p>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template #despuesDeResponder>
                                    <div *ngIf="respuestaCorrecta" class="flex-grow-1">
                                        <div class="flex-grow-1" style="background-color: #28a745; margin: 20px 0px; padding:5px;">
                                            <p style="color: white; font-size:20px; font-weight:bold; width:100%; text-align:center; margin-top:10px;">CORRECTO</p>
                                        </div>
                                    </div>
                                    <div *ngIf="!respuestaCorrecta" class="correcto">
                                        <div class="flex-grow-1" style="background-color: #d63131; margin: 20px 0px; padding:5px;">
                                            <p style="color: white; font-size:20px; font-weight:bold; width:100%; text-align:center; margin-top:10px;">INCORRECTO</p>
                                        </div>
                                    </div>
                                </ng-template>
                                <span class="tiempo" [ngStyle]="{'color': configuracion.colorLetraPregunta}">{{tiempoTranscurrido}}</span>
        
                            </div>
        
                        </div>    
                </ng-template>
                
            </ng-template>
            <ng-template #terminoJuego>
                <div class="game-wrapper">
                    <div class="pregunta">
                        <h1 class="text-center">Conseguiste <b>{{puntaje}}</b> puntos!</h1><br/>
                        <button class="entrar" (click)="volver()">Volver</button>
                    </div>
                </div>
            </ng-template>
        </ng-template>

        <ng-template #pendienteJuego>
            <div class="row text-center">
                <div class="col-sm-12" style='display: flex; align-items: center; justify-content: center;'>
                    <img [src]="configuracion.imagenPresentacion" alt="" style="width:80%;">
                </div>
                <div class="col-sm-12">
                    <div class="container">
                        <h1 class="welcome">Hola, {{nombreJugador}}</h1>
                        <p>{{configuracion.mensajeBienvenida}}</p>
                        <p>Esperando inicio del Juego...</p>
                    </div>
                </div>
            </div>

        </ng-template>
    </ng-template>

</div>
<div class="container" *ngIf='expulsado'>
    FUISTE EXPULSADO DE LA SALA
</div>
