.aside {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    .aside-wrapper {
        margin-top: 10px;
    }
}

.dashboard {
    width: 250px;
    background-color: #282733;
    color: #646c9a;
    
    li {
        list-style: none;
        outline: none;
        &:hover {
            cursor: pointer;
        }
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .brand {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 25px;
        background-color: #201f2b;
        height: 65px;

        h2 {
            letter-spacing: 10px;
        }
    }

}

.dashboard_ch {
    
    color: #000000;
    
    li {
        list-style: none;
        outline: none;
        &:hover {
            cursor: pointer;
            color: #000000;
        }
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    .brand {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 25px;
        height: 65px;

        h2 {
            letter-spacing: 10px;
        }
    }

}

.contenido {
    margin-left: 65px;
    padding: 25px;
}

.contenido100{
    margin:0px;
    padding:25px;
    widows: 100%;
    height:100vh;
    overflow-y: auto;
}

.menu {
    li,a {
        margin: 5px 0px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0px 20px 0px 40px;
        height:50px;
        &:hover {
            color: #ECEFF1;
        }
        p {
            margin-top: 20px;
        }
        // Seleccionado
        &.active {
            background-color: #db1430;
            color: white;
            &:after {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                right: 0;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-right: 10px solid #ECEFF1;
                border-width: 22px 10px 22px 0;
            }
        }
    }
    
}

.menu_ch {
    li {
        margin: 5px 0px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0px 20px 0px 40px;
        height:50px;
        &:hover {
            color: #ECEFF1;
        }
        // Seleccionado
        &.active {
            background-color: #ddd;
            color: white;
            &:after {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                right: 0;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-right: 10px solid #ECEFF1;
                border-width: 22px 10px 22px 0;
            }
        }
    }
    
}

.online-players {
    position: absolute;
    bottom: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

// Cuando el dashboard esta extendido
.dashboard-showing{
    .contenido {
        margin-left: 250px;
    }
}