<div class="wrapper dashboard-showing" *ngIf="router.url != '/cms/info'" >
    <div class="aside dashboard">
        <div class="brand">
            <a routerLink="/cms/inicio"><h2>TRIVIAS</h2></a>
        </div>
        <div class="aside-wrapper">
            <div class="menu">
                <ul>
                    <li routerLinkActive="active" routerLink="/cms/juego">
                        <mat-icon svgIcon="gamepad"></mat-icon>&nbsp;<p>Juegos</p>
                    </li>
                    <a routerLinkActive="active" routerLink="/cms/info" target="_blank">
                        <mat-icon svgIcon="information"></mat-icon>&nbsp;<p>Info</p>
                    </a>
                    <li routerLinkActive="active" routerLink="/cms/configuracion">
                        <mat-icon svgIcon="settings-outline"></mat-icon>&nbsp;<p>Configuración</p>
                    </li>
                    <li routerLinkActive="active" routerLink="/cms/control">
                        <mat-icon svgIcon="settings-outline"></mat-icon>&nbsp;<p>Control</p>
                    </li>
                </ul>
            </div>
            <div class="online-players">
                <span style="display: flex;align-items: center;"><mat-icon svgIcon="account"></mat-icon>&nbsp;<h3>{{jugadores.length}}</h3></span>
                <p>Jugadores conectados</p>
            </div>
        </div>
    </div>
    <div class="contenido">
        <router-outlet></router-outlet>
    </div>
</div>
<div *ngIf="router.url === '/cms/info'" >
    <router-outlet></router-outlet>
</div>