<div class="container">
    <form>
        <mat-form-field style="width: 100%;display: inline-block" *ngFor='let respuesta of respuestas; let i = index'>
            <mat-checkbox [checked]='esCorrecta(respuesta)' (click)='checkRespuesta(respuesta)' [name]='i+1'>Correcta</mat-checkbox>
            <input matInput placeholder="Respuesta" [(ngModel)]='respuesta.respuesta' [name]='i+1'>
        </mat-form-field>
    </form>
    <div class='btn-group'>
        <button mat-raised-button color="primary" (click)='probando()'>Guardar</button>
        <button mat-raised-button color="accent" [disabled]='(respuestas.length == 4)' [matTooltipPosition]="right" matTooltip="{{(respuestas.length == 4) ? 'Se alcanzo la cantidad maxima de respuestas' : ''}}" (click)='agregarRespuesta()'>Agregar Respuesta</button>
    </div>
</div>

<!-- title="{{(cantidadMaximaRespuestas) ? 'Se alcanzo la cantidad maxima de respuestas' : ''}}" -->