<form>
    <mat-form-field style="width: 100%">
        <input matInput placeholder="Pregunta" [(ngModel)]='pregunta.pregunta' name='pregunta'>
    </mat-form-field>
    <div *ngIf='!nueva'>
        <label for="singleFile">Subir imagen</label>
        <input type="file" [(ngModel)]='pregunta.imagen' (change)="onUpload($event)" name='imagen' accept=".JPEG, .JPG" />
    </div>
    <img *ngIf="pregunta.url" class="img-fluid" [src]="pregunta.url" alt="">
</form>
<button mat-raised-button color="primary" (click)='guardarPregunta()'>Guardar</button>